ocfVersion: 0.0.1
revision: {{ .Revision }}
kind: Interface
metadata:
  prefix: "cap.interface.{{ .Prefix }}"
  name: "{{ .Name }}"
  displayName: "{{ .Name }}"
  description: "{{ .Name }} action for {{ .Prefix }}"
  documentationURL: {{.Metadata.DocumentationURL}}
  supportURL: {{.Metadata.SupportURL}}
  iconURL: https://example.com/icon.png
  {{- if .Metadata.Maintainers }}
  maintainers:
  {{- range $maintainer := .Metadata.Maintainers}}
    - email: {{$maintainer.Email}}
      name: {{$maintainer.Name}}
      url: {{$maintainer.Url}}
  {{- end}}
  {{- end}}

spec:
  input:
    parameters:
      input-parameters:
        typeRef:
          path: {{if .InputTypeName}}{{ .InputTypeName }}{{else}}cap.type. # TODO(ContentDeveloper): Put here the path of the input Type{{end}}
          revision: {{if .InputTypeRevision}}{{ .InputTypeRevision }}{{else}}0.1.0{{end}}
    typeInstances: {}

  output:
    typeInstances:
      config:
        typeRef:
          path: {{if .OutputTypeName}}{{ .OutputTypeName }}{{else}}cap.type. # TODO(ContentDeveloper): Put here the path of the input Type{{end}}
          revision: {{if .OutputTypeRevision}}{{ .OutputTypeRevision }}{{else}}0.1.0{{end}}
