ocfVersion: 0.0.1
revision: {{ .Revision }}
kind: InterfaceGroup
metadata:
  prefix: "cap.interface{{ if .Prefix }}.{{ .Prefix }}{{ end }}"
  name: "{{ .Name }}"
  displayName: "{{ .Name }}"
  description: "{{ .Name }} related Interfaces"
  documentationURL: {{.Metadata.DocumentationURL}}
  supportURL: {{.Metadata.SupportURL}}
  iconURL: https://example.com/icon.png
  {{- if .Metadata.Maintainers }}
  maintainers:
  {{- range $maintainer := .Metadata.Maintainers}}
    - email: {{$maintainer.Email}}
      name: {{$maintainer.Name}}
      url: {{$maintainer.Url}}
  {{- end}}
  {{- end}}
