ocfVersion: 0.0.1
revision: {{ .Revision }}
kind: Type
metadata:
  prefix: "cap.type.{{ .Prefix }}"
  name: config
  displayName: "{{.Prefix }} config"
  description: "Type representing a {{ .Prefix }} config"
  documentationURL: {{.Metadata.DocumentationURL}}
  supportURL: {{.Metadata.SupportURL}}
  {{- if .Metadata.Maintainers }}
  maintainers:
  {{- range $maintainer := .Metadata.Maintainers}}
    - email: {{$maintainer.Email}}
      name: {{$maintainer.Name}}
      url: {{$maintainer.Url}}
  {{- end}}
  {{- end}}
spec:
  jsonSchema:
    # TODO(ContentDeveloper): Put the properties of your Interface output Type in form of a JSON Schema
    value: |-
      {
        "$schema": "http://json-schema.org/draft-07/schema",
        "type": "object",
        "required": [],
        "properties": {
          "example": {
            "$id": "#/properties/example",
            "type": "string",
            "description": "Example field"
          }
        }
      }
