ocfVersion: 0.0.1
revision: {{ .Revision }}
kind: Type
metadata:
  prefix: "cap.type.{{ .Prefix }}"
  name: {{ .Name }}-input
  displayName: "Input for {{ .Prefix }}.{{ .Name }}"
  description: Input for the "{{ .Prefix }}.{{ .Name }} Action"
  documentationURL: {{.Metadata.DocumentationURL}}
  supportURL: {{.Metadata.SupportURL}}
  {{- if .Metadata.Maintainers }}
  maintainers:
  {{- range $maintainer := .Metadata.Maintainers}}
    - email: {{$maintainer.Email}}
      name: {{$maintainer.Name}}
      url: {{$maintainer.Url}}
  {{- end}}
  {{- end}}
spec:
  jsonSchema:
    # TODO(ContentDeveloper): Adjust the JSON schema if needed.
    value: |-
{{ .JSONSchema | indent 6 }}
